/* RepositoryCard.css */
.header{
  display: grid;
}
.logo-title{
  display:inline-flex;
  flex-direction: row;
  height:60px;
}
.nav-container{
  background-color: #0a0c10;
  height:100px;
}
.nav-bar ul{
list-style:none;
display: inline-flex;
flex-direction: row;
gap:70px;
padding-top: 0;
padding-bottom:20px;
margin-top: 0;
margin-bottom:30px;

}
.nav-bar ul li{
  font-weight: 500;
  cursor: pointer;
  font-size: 15px;
  transition: color 0.5s ease; 
}
.nav-bar ul li:hover{
  color:#28a745;
}
.logo-name{
  padding-bottom:20px;
}
.container{
  display: grid;
  grid-template-columns: 2fr 3fr;
}
.logo{
  height:40px;
  padding-top:9px;
}
.profilePic{
  height:370px;
  border-radius: 50%;
  padding:50px;
}
.page-title{
  text-align: center;
}
.repository-card {
  height: 100px;
  background:transparent;
  border: 0.5px solid grey;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-bottom:20px ;
  padding-top:0;
  padding-bottom:35px;
}

.repository-card h2 {
  font-size: 20px;
  transition: color 0.5s ease; 
  margin-bottom: 8px;
}
.repository-card h2:hover {
  color:#28a745;
  cursor: pointer;

}

.repository-card p{
  font-size: 16px;
  color:grey;
}
.repository-list{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows:repeat(3,1fr) ;
  gap: 10px;
}